<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230778548411-uj17o3f3g2rs403241i7evldlon9f36v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230778548411-uj17o3f3g2rs403241i7evldlon9f36v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>230778548411-6rc52otcilupk193tjb1qrkk3emm7ip5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKxmM1dPvkLlQDCNhzPC7lVGcZZJJBux0</string>
	<key>GCM_SENDER_ID</key>
	<string>230778548411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bssltd14.gswattana</string>
	<key>PROJECT_ID</key>
	<string>bsscustapp-6</string>
	<key>STORAGE_BUCKET</key>
	<string>bsscustapp-6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230778548411:ios:630d67ddfcea9eed69799e</string>
</dict>
</plist>